@model IEnumerable<Category>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
<p>Category Page</p>

<table class = "table table-bordered table-striped" style="width:100%" >
    <thead>
        <tr>
            <th>
                Category Name
            </th>
            <th>
                Display Order
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var obj in Model)
            {
                <tr> 
                    <td width:"50%"> 
                        @obj.Name
                    </td>
                    <td width:"50%"> 
                        @obj.DisplayOrder
                    </td>
                </tr>
            }
     </tbody>
</table>