 
@*
    For more information on enabling MVC for empty projects, visit http://go.microsoft.com/fwlink/?LinkID=397860
*@
@if(TempData["success"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <screip src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></screip>
    <script type="text/javascript">
       toastr.error('@TempData["success"]')
    </script>
     @*<h2>@TempData["success"]</h2>*@
}
@if(TempData["error"] != null)
{
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <screip src="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></screip>
    <script>
        toastr.error('@TempData["error"]')
    </script>
    @*<h2>@TempData["error"]</h2>*@
}